--extra-index-url https://download.pytorch.org/whl/cu118

# PyTorch dengan CUDA 11.8
torch>=2.0.0
torchvision
torchaudio

# YOLOv8 dan dependensi backend lainnya
ultralytics>=8.0.0
opencv-python>=4.8.0
websockets>=12.0
numpy>=1.24.0
pillow>=10.0.0
